<div class="resume-body">
    <div class="row">
      <div class="resume-main col-12 col-lg-8 col-xl-9 pr-0 pr-lg-5">
        <section class="work-section py-3">
          <h3 class="text-uppercase resume-section-heading mb-4">Experiencia Laboral</h3>
          <div class="item mb-3">
            <div class="item-heading row align-items-center mb-2">
              <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Senior Software Engineer</h4>
              <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Google | 2019 - Present</div>
              
            </div>
            <div class="item-content">
              <p>Role description goes here ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Donec pede justo, fringilla vel. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis.</p>
              <ul class="resume-list">
                <li>Lorem ipsum dolor sit amet, consectetuer.</li>
                <li>Aenean commodo ligula eget dolor.</li>
                <li>Etiam ultricies nisi vel augue.</li>
              </ul>
            </div>
          </div><!--//item-->
          <div class="item mb-3">
            <div class="item-heading row align-items-center mb-2">
              <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Lead Software Developer</h4>
              <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Apple | 2016 - 2019</div>
              
            </div>
            <div class="item-content">
              <p>Role description goes here ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Donec pede justo, fringilla vel.</p>
              <ul class="resume-list">
                <li>Lorem ipsum dolor sit amet, consectetuer.</li>
                <li>Aenean commodo ligula eget dolor.</li>
              </ul>
            </div>
          </div><!--//item-->
          <div class="item mb-3">
            <div class="item-heading row align-items-center mb-2">
              <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Senior Software Developer</h4>
              <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Dropbox | 2014 - 2016</div>
              
            </div>
            <div class="item-content">
              <p>Role description goes here ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
          </div><!--//item-->
          <div class="item">
            <div class="item-heading row align-items-center mb-2">
              <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Senior Developer</h4>
              <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Uber | 2013 - 2014</div>
              
            </div>
            <div class="item-content">
              <p>Role description goes here ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus. </p>
            </div>
          </div><!--//item-->
          <div class="item">
            <div class="item-heading row align-items-center mb-2">
              <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Backend Developer</h4>
              <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Amazon | 2014 - 2016</div>
              
            </div>
            <div class="item-content">
              <p>Role description goes here ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
          </div><!--//item-->
          <div class="item">
            <div class="item-heading row align-items-center mb-2">
              <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Frontend Developer</h4>
              <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Startup | 2013 - 2014</div>
              
            </div>
            <div class="item-content">
              <p>Role description goes here ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus. </p>
            </div>
          </div><!--//item-->
          
        </section><!--//work-section-->

        
        <section class="project-section py-3">

          <h3 class="text-uppercase resume-section-heading mb-4">Proyectos</h3>
          
          <div class="item mb-3">
            <div class="item-heading row align-items-center mb-2">
              <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Argus</h4>
              <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Open Source</div>
              
            </div>
            <div class="item-content">
              <p class="text-justify">
                Pequeño Framework personal programado en PHP, OPP y MVC para realizar proyectos freelance de una manera
                mas rapida y sencilla, ya que cuenta con las herramientas, clases y elementos que habitualmente ocupo al desarrollar un nuevo sistema,
                y con cada sistema que realizo con este framework poco a poco voy agregando mas funcionalidades a la base del mismo
              </p>
            </div>
          </div><!--//item-->
          
        </section><!--//project-section-->	
      </div><!--//resume-main-->
      <aside class="resume-aside col-12 col-lg-4 col-xl-3 px-lg-4 pb-lg-4">
        <section class="skills-section py-3">
          <h3 class="text-uppercase resume-section-heading mb-4">Habilidades</h3>
          <div class="item">
            <h4 class="item-title">Tecnicas</h4>
            <ul class="list-unstyled resume-skills-list">
                <li class="mb-2">Administracion LAMP en Ubuntu Server</li>
                <li class="mb-2">PHP/MVC/OOP/Laravel<li>
                <li class="mb-2">HTML</li>
                <li class="mb-2">CSS</li>
                <li class="mb-2">JavaScript/TypeScript/Angular</li>
                <li class="mb-2">MySQL</li>
              </ul>
            </div><!--//item-->
            <div class="item">
              <h4 class="item-title">Profesionales</h4>
              <ul class="list-unstyled resume-skills-list">
                <li class="mb-2">Comunicacion efectiva</li>
                <li class="mb-2">Trabajo en equipo<li>
                <li class="mb-2">Resolucion de problemas</li>
                <li>Aprendizaje continuo</li>
                </ul>
              </div><!--//item-->
            </section><!--//skills-section-->
            <section class="education-section py-3">
              <h3 class="text-uppercase resume-section-heading mb-4">Educacion</h3>
              <ul class="list-unstyled resume-education-list">
                <li class="mb-3">
                  <div class="resume-degree font-weight-bold">Ingeniera en Sistemas Computacionales</div>
                  <div class="resume-degree-org text-muted">Instituto Tecnologico Superior de Jesus Carranza</div>
                  <div class="resume-degree-time text-muted">2012 - 2017</div>
                </li>
                <li>
                  <div class="resume-degree font-weight-bold">Ingenieria en Instrumentacion Electronica</div>
                  <div class="resume-degree-org text-muted">Universidad Veracruzana</div>
                  <div class="resume-degree-time text-muted">2010 - 2012</div>
                </li>
              </ul>
            </section><!--//education-section-->
            <!--//education-section-->
            <section class="skills-section py-3">
              <h3 class="text-uppercase resume-section-heading mb-4">Idiomas</h3>
              <ul class="list-unstyled resume-lang-list">
                <li>Español <span class="text-muted">(Nativo)</span></li>
                <li>Ingles <span class="text-muted">(Intermedio)</span></li>
              </ul>
            </section><!--//certificates-section-->
            <section class="skills-section py-3">
              <h3 class="text-uppercase resume-section-heading mb-4">Intereses</h3>
              <ul class="list-unstyled resume-interests-list mb-0">
                <li class="mb-2">Musica</li>
                <li class="mb-2">Cine</li>
                <li class="mb-2">Cocina</li>
              </ul>
            </section><!--//certificates-section-->
            
          </aside><!--//resume-aside-->
        </div><!--//row-->
      </div><!--//resume-body-->
