<div class="resume-body">
    <div class="row">
      <div class="resume-main col-12 col-lg-8 col-xl-9 pr-0 pr-lg-5">

        <app-experiencia></app-experiencia>
        <app-proyectos></app-proyectos>

      </div><!--//resume-main-->
      <aside class="resume-aside col-12 col-lg-4 col-xl-3 px-lg-4 pb-lg-4">

        <app-habilidades></app-habilidades>
        <app-educacion></app-educacion>
        <app-idiomas></app-idiomas>
        <!-- <app-intereses></app-intereses> -->
            
      </aside><!--//resume-aside-->
    </div><!--//row-->
</div><!--//resume-body-->
