<section class="project-section py-3">

    <h3 class="text-uppercase resume-section-heading mb-4">Proyectos</h3>
    
    <div class="item mb-3">
      <div class="item-heading row align-items-center mb-2">
        <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Argus</h4>
        <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Open Source</div>
        
      </div>
      <div class="item-content">
        <p class="text-justify">
          Framework propio programado con PHP, OPP, MVC y MySQL para realizar proyectos freelance de una manera
          mas rapida y sencilla, ya que cuenta con las herramientas, clases y elementos que habitualmente ocupo al desarrollar un nuevo sistema,
          y con cada sistema que realizo con este framework poco a poco voy agregando mas funcionalidades a la base del mismo.
          <br>
          <a href="https://github.com/IscRivera91/argus" target="_blank">repositorio en github</a>
        </p>
      </div>
    </div><!--//item-->

    <div class="item mb-3">
      <div class="item-heading row align-items-center mb-2">
        <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">FicheroMaker</h4>
        <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Open Source</div>
        
      </div>
      <div class="item-content">
        <p class="text-justify">
          Sistema en php que sirve para conectarce a un router mikrotik configurado como hotspot para generar fichas de inteternet
          de manera automatica y masiva. 
          <br>
          <a href="https://github.com/IscRivera91/FicheroMaker" target="_blank">repositorio en github</a>
        </p>
      </div>
    </div><!--//item-->
    
</section><!--//project-section-->	
