<section class="skills-section py-3">
    <h3 class="text-uppercase resume-section-heading mb-4">Habilidades</h3>
    <div class="item">
        <h4 class="item-title">Tecnicas</h4>
        <ul class="list-unstyled resume-skills-list">
          <li class="mb-2">Administracion LAMP en Ubuntu Server</li>
          <li class="mb-2">PHP/PHPUnit/MVC/OOP/Laravel<li>
          <li class="mb-2">HTML</li>
          <li class="mb-2">CSS/Bootstrap/AdminLTE3</li>
          <li class="mb-2">JavaScript/TypeScript/Angular</li>
          <li class="mb-2">MySQL</li>
          <li class="mb-2">GIT/GITHUB</li>
        </ul>
    </div>
    <div class="item">
        <h4 class="item-title">Profesionales</h4>
        <ul class="list-unstyled resume-skills-list">
          <li class="mb-2">Comunicacion efectiva</li>
          <li class="mb-2">Trabajo en equipo<li>
          <li class="mb-2">Resolucion de problemas</li>
          <li class="mb-2">Aprendizaje continuo</li>
        </ul>
    </div><!--//item-->
</section><!--//skills-section-->
